<h1>Your Cart</h1>

<div>
<% cart.each do |i| %>
<ul> 
    <li>
        <%= i %>
        </li>
        </ul>
<% end %>
</div>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
<label><%= @product %></label><br>
<%= text_field_tag :product %><br>
<%= submit_tag "add to cart" %>

<% end %>